@model IEnumerable<e_Library.Core.Models.BookAuthor>

@{
    ViewBag.Title = "Manage Authors";
}

    <h2>Manage Authors</h2>

<p>
    @Html.ActionLink("Add New Author", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
