@model IEnumerable<e_Library.Core.ViewModels.BasketItemViewModel>

@{
    ViewBag.Title = "Basket";
}

<h2 style="text-align: center; padding-top: 50px;">Basket</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Line Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
     {
        <tr>
            <td><img style="height:60px" class="img" src="~/Content/BookImages/@item.Image" /></td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @String.Format("{0:c}", item.Price)
            </td>
            <td>
                @String.Format("{0:c}", item.Price * item.Quantity)
            </td>
            <td>
                <a href="@Url.Action("RemoveFromBasket", "Basket", new { Id=item.Id })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
     }
<tr>
    <td colspan="4" style="text-align:right; font-size: 20px;"><strong>Basket Total</strong></td>
    <td style="font-size: 20px; padding-left: 20px;">@String.Format("{0:c}", (from p in Model select p.Price * p.Quantity).Sum())</td>
    <td><a style=" " href="@Url.Action("Checkout", "Basket",new { basketTotal = (from p in Model select p.Price * p.Quantity).Sum()})">Checkout</a></td>
</tr>

</table>

<div class="progress">
    <div class="progress-bar" style="width: 0%;"></div>
</div>