@{
    ViewBag.Title = "Admin";
}

    <h2>e-Library Website</h2>

    <div class="col-md-6">
        <h4>Book Manager</h4>
        <div class="list-group">
            @Html.ActionLink("Manage Books", "Index", "BookManager", null, new { @class = "list-group-item" })
            @Html.ActionLink("Manage Genres", "Index", "BookGenreManager", null, new { @class = "list-group-item" })
            @Html.ActionLink("Manage Authors", "Index", "BookAuthorManager", null, new { @class = "list-group-item" })
            @Html.ActionLink("Manage Pre-Order Books", "Index", "PreBookManager", null, new { @class = "list-group-item" })
        </div>
        <br />
        <h4>Website Manager</h4>
        <div class="list-group">
            @Html.ActionLink("View Sales Analytics", "ViewAnalytics", "OrderManager", null, new { @class = "list-group-item" })
            @Html.ActionLink("View Google Analytics & Data", "ViewAnalytics", "OrderManager", null, new { @class = "list-group-item" })
        </div>

       
    </div>
<div class="col-md-6">
    <h4>Order Management</h4>
    <div class="list-group">
        @Html.ActionLink("Display Current Orders", "DisplayOrdersWithFilter", "OrderManager", null, new { @class = "list-group-item" })
        @Html.ActionLink("Driver Deliveries", "DriverDeliveries", "OrderManager", null, new { @class = "list-group-item" })
        @Html.ActionLink("Prepare Orders", "PrepareOrder", "OrderManager", null, new { @class = "list-group-item" })
        @Html.ActionLink("Manage Order Statuses", "Index", "OrderStatusManager", null, new { @class = "list-group-item" })
        @Html.ActionLink("Manage Drivers", "Index", "DriverManager", null, new { @class = "list-group-item" })
    </div>
</div>
<div class="col-md-12 clearfix"></div>
